body {
	margin: 0px;
}

.thanks {
	width: 500px;
	height: auto;
	text-align: center;
	margin: 0px auto;
	border: red solid 2px;
}

.thanks p {
	font-size: 24;
	margin: 10px auto;
}

.year {
	width: 100px;
	height: 100px;
	margin: 5px 200px;
	padding: 0px;
	background-color: skyblue;
	border-radius: 50%;
}

.year p {
	width: 100px;
	top: 50%;
	transform: translateY(-50%);
	position: relative;
	font-size: 50;
	margin: auto;
}